a {
    color: rgb(27, 27, 27);
    text-decoration: none;
}

a:hover {
    color: rgb(139, 188, 218);
}

.cont {
    text-align: center;
}

body {
    background-color: rgb(236, 236, 236);
    font-family: 'Urbanist', sans-serif;
}


