a {
    color: rgb(85, 85, 85);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.cont {
    text-align: center;
}

body {
    background-color: rgb(224, 224, 224);
    font-family: 'Urbanist', sans-serif;
}

#c {
    display:none;
}

input[type='number']{
    width: 150px;
} 