{% extends "layout.html" %}
{% block title %}Log in{% endblock %}
{% block content %}
    <div class="cont">
    <title>Darts scores</title>
    <h1>Log in to darts scores</h1>
    <p><b>{{ error }}</b></p>
    <form action="/login" method="POST">
    <p>Username<br>
    <input style="font-family: sans-serif;" type="text" name="username" required></p>
    <p>Password<br>
    <input style="font-family: sans-serif;" type="password" name="password" required></p>
    <input type="submit" value="Log in">
    </form>
    <br>
    <p style="color: grey;">Register a new account  <a href="/register" style="color: lightskyblue;">here</a></p>
    </div>
{% endblock %}