{% extends "layout.html" %}
{% block title %}Main page{% endblock %}
{% block content %}
{% if session.username and "allstats" not in request.path %}
<p>{{ error }}</p>
<button style="margin-left: 25px;" class="btn btn-info" onclick="showScore()" id="bb">Add scores</button>
<div id="c">
<div class="container">
<form action="/mainpage" method="POST">
Average: <input class="input-group mb-3" style="font-family: sans-serif;" type="number" step="0.1" min=0 max=180 name="addaverage" required>
<br>
Highest score: <input class="input-group mb-3" style="font-family: sans-serif;" type="number" step="1" min=1 max=180 name="addhighest" required>
<br>
<div><span title="100+ scores with 3 darts" style="color: blue; cursor: default;">(?)</span> Ton+ count: <input class="input-group mb-3" style="font-family: sans-serif;" type="number" step="1" min=0 max=5 name="addtons" required></div>
<br>
<input class="btn btn-info" type="submit" value="Submit">
</form>
</div>
</div>
<br>
<br>
<section style="margin-left: 25px;">
<h1>Your total average past 30 days: <u>{{ total }}</u></h1>
<br>
<h2>Your top 5 averages: </h2>
<br>
{%for avg in topavgs %}
<p style="font-family: sans-serif;"><a href="/game/{{ avg.game_id }}">Date: {{ avg.average_date }} | Average: <b>{{ avg.average }}</b></a></p>
{% endfor %}
<br>
<h2>Your averages:</h2>
<br>
{% for avg in avgs %}
<p style="font-family: sans-serif;"><a href="/game/{{ avg.game_id }}">Date: {{ avg.average_date }} | Average: <b>{{ avg.average }}</b></a></p>
{% endfor %}
</section>
{% else %}
<section style="margin-left: 25px;">
{% if session.username and "allstats" in request.path %}
<h1>Stats from all users</h1>
{% else %}
{% endif %}
<br>
<h2>Top 5 averages:</h2>
<br>
{% for avg in topavgs %}
<p style="font-family: sans-serif;"><a href="/game/{{ avg.game_id }}">Date: {{ avg.average_date }} | User: <b>{{ avg.username }}</b> | Average: <b>{{ avg.average }}</b></a></p>
{% endfor %}
<h3>All averages:</h3>
<br>
{% for avg in avgs %}
<p style="font-family: sans-serif;"><a href="/game/{{ avg.game_id }}">Date: {{ avg.average_date }} | User: <b>{{ avg.username }}</b> | Average: <b>{{ avg.average }}</b></a></p>
{% endfor %}
{% endif %}
</section>
{% endblock %}