{% extends "layout.html" %}
{% block title %}Main page{% endblock %}
{% block content %}
{% if session.username and "allstats" not in request.path %}
<form action="/mainpage" method="POST">
Add an average: <input type="number" step="0.1" min=0 max=180 name="addaverage">
<br>
<input class="btn btn-success" type="submit" value="Submit">
</form>
<br>
<h1>Your total average past 30 days: <u>{{ total }}</u></h1>
<br>
<h2>Your top 5 averages: </h2>
<br>
{%for avg in topavgs %}
<p style="font-family: sans-serif;"><a href="/game/{{ avg.game_id }}">Date: {{ avg.average_date }} Average: <b>{{ avg.average }}</b></a></p>
{% endfor %}
<br>
<h2>Your averages:</h2>
<br>
{% for avg in avgs %}
<p style="font-family: sans-serif;"><a href="/game/{{ avg.game_id }}">Date: {{ avg.average_date }} Average: <b>{{ avg.average }}</b></a></p>
{% endfor %}
{% else %}
{% if session.username and "allstats" in request.path %}
<h1>Stats from all users</h1>
<br>
{% else %}
{% endif %}
<h1>Top 5 averages:</h1>
<br>
{% for avg in topavgs %}
<p style="font-family: sans-serif;"><a href="/game/{{ avg.game_id }}">Date: {{ avg.average_date }} User: <b>{{ avg.username }}</b> Average: <b>{{ avg.average }}</b></a></p>
{% endfor %}
<h2>All averages:</h2>
<br>
{% for avg in avgs %}
<p style="font-family: sans-serif;"><a href="/game/{{ avg.game_id }}">Date: {{ avg.average_date }} User: <b>{{ avg.username }}</b> Average: <b>{{ avg.average }}</b></a></p>
{% endfor %}
{% endif %}
{% endblock %}